<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="../Staticts/tienda.css"> 
    <title>Tiendita</title>
</head>
<body>
    <header id="titulo">
        <h1>Tienda </h1>
    </header>
    <section id = "contenedor" class = "contenedor">
        <section id="productos"> 
            <div class = "cuadrado" id = "gorra">
                <img>
                <p>Gorra</p>
                <p>$1500.00</p>
                <button class="añadir" id = "agregar 1">+</button>
                <button class="eliminar" id = "eliminar 1">-</button>
            </div> 
            <div class = "cuadrado" id = "labubu">
                <img>
                <p>Labubu</p>
                <p>$2000.00</p>
                <button class="añadir" id = "agregar 2">+</button>
                <button class="eliminar" id = "eliminar 2">-</button>
            </div>
            <div class = "cuadrado" id = "playstation4">
                <img>
                <p>PlayStation 4</p>
                <p>$3500.00</p>
                <button class="añadir" id = "agregar 3">+</button>
                <button class="eliminar" id = "eliminar 3">-</button>
            </div>
            <div class = "cuadrado" id = "maruchan">
                <img>
                <p>Maruchan</p>
                <p>$50.00</p>
                <button class="añadir" id = "agregar 4">+</button>
                <button class="eliminar" id = "eliminar 4">-</button>
            </div>
            <div class = "cuadrado" id = "lapiz">
                <img>
                <p>Lápiz</p>
                <p>$20.00</p>
                <button class="añadir" id ="agregar 5">+</button>
                <button class="eliminar" id = "eliminar 5">-</button>
            </div>
            <div class = "cuadrado" id = "legotechnic">
                <img>
                <p>Lego Technic</p>
                <p>$1500.00</p>
                <button class="añadir" id = "agregar 6">+</button>
                <button class="eliminar" id = "eliminar 6">-</button>
            </div>
            <div class = "cuadrado" id = "gomitas">
                <img>
                <p>Gomitas</p>
                <p>$30.00</p>
                <button class="añadir" id = "agregar 7">+</button>
                <button class="eliminar" id = "eliminar 7">-</button>
            </div>
            <div class = "cuadrado" id = "playera">
                <img>
                <p>Playera</p>
                <p>$500.00</p>
                <button class="añadir" id = "agregar 8">+</button>
                <button class="eliminar" id = "eliminar 8">-</button>
            </div>
            <div class = "cuadrado" id = "paracetamol">
                <img>
                <p>Paracetamol</p>
                <p>$150.00</p>
                <button class="añadir" id = "agregar 9">+</button>
                <button class="eliminar" id = "eliminar 9">-</button>
            </div> 
        </section>
        <section id="carrito">
            <h2>Carrito</h2>
            <div id="carrito-contenido">
                <!-- Aquí se mostrarán los productos añadidos al carrito -->
            </div>
            <div id="total">
                <p>Total: $<span id="total"></span></p>
            </div>
    </section>
</body>
<script src="../Dynamics/tienda.js"></script>
</html>